
.header{
    background-color: $primary-color;
    height: 100vh;
    position: relative;

    .hero-box{
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 10rem;

        @include respond(tab-landscape){
            grid-template-columns: 100%;
        }

        p{
            width: 85%;
            color: $gray-400;

            @include respond(tab-landscape){
                width: 100%;
            }
        }

        
        &-svg{
            background-image: url("../images/hero-image.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 100%;
            height: 100%;

            @include respond(tab-portrait){
                display: none;
            }
        }
    }
}