//COLORS MANAGEMENT

$primary_color: #313fba;
$primary_color--dark: #242489;
$primary_color--light: #6dafe0;
$primary_color--md: #4247bc;


$secondary_color: #ea2623;

$white: #ffffff;

$gray-700: #484848;
$gray-600: #545554;
$gray-500: #aeaeae;
$gray-400: #ededf8;

// TYPOGRAPHY MANAGEMENT

$h1: 5rem;
$h2: 4.5rem;
$h3: 3.2rem;
$h4: 2.5rem;
$h5: 2rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;